@import "./vars.module.scss";

.info {
  margin-top: 6vh;
  text-align: center;
  margin-bottom: 50px;

  &__name {
    font-size: 50px;
    margin-bottom: 10px;
  }

  &__creator {
    font-size: 20px;
  }
}

.projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
