$text: #e7eee3;
$background: #0c100a;
$primary: #c0d8c2;
$secondary: #13201b;
$accent: #619e85;

:export {
  text: $text;
  background: $background;
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
}
