@import "../app/vars.module.scss";

.project {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 50px;
  background-color: $primary;
  color: $secondary;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  transition: all 0.2s linear;

  &:hover {
    background-color: $secondary;
    border: 1px solid $primary;
    color: $primary;
  }

  &:focus .animation {
    display: block;
  }

  &__name {
    font-size: 20px;
    text-transform: capitalize;
  }
}

.animation {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: none;

  &__effect {
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: $primary;
    border-radius: 2px;
    z-index: -1;

    &_1 {
      top: 10%;
      left: 2%;
      rotate: 30deg;

      animation-name: anim1;
      animation-duration: 0.5s;
    }

    &_2 {
      top: 50%;
      left: 2%;

      animation-name: anim1;
      animation-duration: 0.5s;
    }

    &_3 {
      top: 90%;
      left: 2%;
      rotate: -30deg;

      animation-name: anim1;
      animation-duration: 0.5s;
    }

    &_4 {
      top: 10%;
      right: 2%;
      rotate: -30deg;

      animation-name: anim2;
      animation-duration: 0.5s;
    }

    &_5 {
      top: 50%;
      right: 2%;

      animation-name: anim2;
      animation-duration: 0.5s;
    }

    &_6 {
      top: 90%;
      right: 2%;
      rotate: 30deg;

      animation-name: anim2;
      animation-duration: 0.5s;
    }
  }
}

/*–––––––––––––––animations–––––––––––––––*/

@keyframes anim1 {
  from {
    transform: translate(0, 0);
    opacity: 1;
    display: none;
  }
  to {
    transform: translate(-40px, 0);
    opacity: 0;
    display: block;
  }
}

@keyframes anim2 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(40px, 0);
    opacity: 0;
  }
}
